extends ./../global.jade

block title
  title admin
block content
  .row
    .col-md-4
    .col-md-4.text-center
      form(role='form', action='/auth/local/register', method='post')
        input(type='text', name='username', placeholder='Username')
        input(type='text', name='email', placeholder='Email')
        input(type='password', name='password', placeholder='Password')
        button(type='submit') Регистрация
