head
  block title
    title Default title
  meta(charset="UTF-8")
  //bower:js
  script(src='../../bower_components/jquery/dist/jquery.js')
  script(src='../../bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='../../bower_components/moment/moment.js')
  script(src='../../bower_components/twbs-pagination/jquery.twbsPagination.js')
  script(src='../../bower_components/alloyeditor/dist/alloy-editor/alloy-editor-all-min.js')
  script(src='../../bower_components/react/react.js')
  script(src='../../bower_components/react/react-dom.js')
  script(src='../../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js')
  script(src='../../bower_components/cropper/dist/cropper.js')
  script(src='../../bower_components/lodash/lodash.js')
  script(src='../../bower_components/chosen/chosen.jquery.min.js')
  script(src='../../bower_components/jquery-ui/jquery-ui.js')
  script(src='../../bower_components/froala-wysiwyg-editor/js/froala_editor.min.js')
  script(src='../../bower_components/Chart.js/Chart.js')
  //endbower
  //bower:css
  link(rel='stylesheet', href='../../bower_components/components-font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='../../bower_components/alloyeditor/dist/alloy-editor/assets/alloy-editor-ocean-min.css')
  link(rel='stylesheet', href='../../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
  link(rel='stylesheet', href='../../bower_components/cropper/dist/cropper.css')
  link(rel='stylesheet', href='../../bower_components/froala-wysiwyg-editor/css/froala_editor.min.css')
  link(rel='stylesheet', href='../../bower_components/froala-wysiwyg-editor/css/froala_style.min.css')
  //endbower

  // SCRIPTS
  script(src="/js/dependencies/sails.io.js")
  script(src="/js/dependencies/ImageSelect.jquery.js")
  script(src="/js/dependencies/align.min.js")
  script(src="/js/dependencies/char_counter.min.js")
  script(src="/js/dependencies/code_beautifier.min.js")
  script(src="/js/dependencies/code_view.min.js")
  script(src="/js/dependencies/colors.min.js")
  script(src="/js/dependencies/emoticons.min.js")
  script(src="/js/dependencies/entities.min.js")
  script(src="/js/dependencies/file.min.js")
  script(src="/js/dependencies/font_family.min.js")
  script(src="/js/dependencies/font_size.min.js")
  script(src="/js/dependencies/fullscreen.min.js")
  script(src="/js/dependencies/image.min.js")
  script(src="/js/dependencies/image_manager.min.js")
  script(src="/js/dependencies/inline_style.min.js")
  script(src="/js/dependencies/jade_templates.js")
  script(src="/js/dependencies/line_breaker.min.js")
  script(src="/js/dependencies/link.min.js")
  script(src="/js/dependencies/lists.min.js")
  script(src="/js/dependencies/main.js")
  script(src="/js/dependencies/navigation.js")
  script(src="/js/dependencies/paragraph_format.min.js")
  script(src="/js/dependencies/paragraph_style.min.js")
  script(src="/js/dependencies/quick_insert.min.js")
  script(src="/js/dependencies/quote.min.js")
  script(src="/js/dependencies/ru.js")
  script(src="/js/dependencies/save.min.js")
  script(src="/js/dependencies/search.js")
  script(src="/js/dependencies/table.min.js")
  script(src="/js/dependencies/url.min.js")
  script(src="/js/dependencies/video.min.js")
  // SCRIPTS END
  // STYLES
  link(rel="stylesheet", href="/styles/ImageSelect.css")
  link(rel="stylesheet", href="/styles/char_counter.css")
  link(rel="stylesheet", href="/styles/char_counter.min.css")
  link(rel="stylesheet", href="/styles/code_view.css")
  link(rel="stylesheet", href="/styles/code_view.min.css")
  link(rel="stylesheet", href="/styles/colors.css")
  link(rel="stylesheet", href="/styles/colors.min.css")
  link(rel="stylesheet", href="/styles/cropper.css")
  link(rel="stylesheet", href="/styles/emoticons.css")
  link(rel="stylesheet", href="/styles/emoticons.min.css")
  link(rel="stylesheet", href="/styles/file.css")
  link(rel="stylesheet", href="/styles/file.min.css")
  link(rel="stylesheet", href="/styles/fullscreen.css")
  link(rel="stylesheet", href="/styles/fullscreen.min.css")
  link(rel="stylesheet", href="/styles/image.css")
  link(rel="stylesheet", href="/styles/image.min.css")
  link(rel="stylesheet", href="/styles/image_manager.css")
  link(rel="stylesheet", href="/styles/image_manager.min.css")
  link(rel="stylesheet", href="/styles/importer.css")
  link(rel="stylesheet", href="/styles/line_breaker.css")
  link(rel="stylesheet", href="/styles/line_breaker.min.css")
  link(rel="stylesheet", href="/styles/quick_insert.css")
  link(rel="stylesheet", href="/styles/quick_insert.min.css")
  link(rel="stylesheet", href="/styles/table.css")
  link(rel="stylesheet", href="/styles/table.min.css")
  link(rel="stylesheet", href="/styles/video.css")
  link(rel="stylesheet", href="/styles/video.min.css")
  // STYLES END
